<fieldset class="fieldset fieldset-multiple-wishlist">
    <div class="field field-multiple-wishlist">
        <!-- ko if: hasWishlists() -->
            <div class="label">
                <!-- ko i18n: 'Wishlist' --><!-- /ko -->
            </div>
            <!-- ko foreach: { data: getMultipleWishlists(), as: 'item' } -->
                <div class="multiple-wishlist-item">
                    <input type="radio"
                           name="multiple_wishlist"
                           class="radio"
                           data-bind="attr: {'id': 'multiple_wishlist' + item.id}, value: item.id" />
                    <label data-bind="attr: {'for': 'multiple_wishlist' + item.id}" class="label">
                        <span data-bind="text: item.name"></span>
                    </label>
                </div>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="field field-multiple-wishlist">
        <div class="label">
            <!-- ko i18n: 'New Wishlist Name' --><!-- /ko -->
        </div>
        <input type="text" name="muttiple_wishlist_name" data-bind="value: wishlistNameValue, css: { 'mage-error': createError }">
        <!-- ko if: createError -->
            <div generated="true" class="mage-error">
                <span data-bind="text: errorText"></span>
            </div>
        <!-- /ko -->
    </div>
    <button type="button" class="action primary"
            data-bind="attr: {'title': createButtonText}, click: createNew, css: { disabled: ajaxProcess }">
        <span data-bind="text: createButtonText"></span>
    </button>
</fieldset>
